@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

body {
    background:#898183;
    color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #fff2e780;
}

.github {
    color: #fff2e7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background:#898183;
}

.hero {
    background:#958383;
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;

    padding: 0rem 0.2rem;
    margin: auto;

    overflow: clip;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-width: 55%;
}

.destaque {
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.hero-imagens-container {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: 2rem 0;
}

.hero-imagens-container > figure > img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.marrom {
    color: #d2b2ab;
}

.amarelo {
    color: #f3ea90;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}
hr {
    border-color: #8a7570;
}
.hero-subtitulo {
    color:#c7bab3;
    font-family: Inter;
    font-size: 1.5rem;
}

.botao-container {
    width: 100%;
    max-width: 112Opx;
    margin: auto;
    transform: translate("0, -30%");
}
    button {
        border: none;
        padding: 0.3rem;
        border-radius:0.7rem;
        background-color: #6b6260;
    }

    .receitas {
        display: flex;
        flex-direction: column;

        max-width: 1120px;
        padding: 3rem 2rem;
        margin: auto;

    }

    .receitas-cabecalho {
        display: flex;
        flex-direction: column;
        gap:0.5rem;
    }

    .receitas-titulo {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        color: #fff2e7;
    }
    .receitas-subtitulo {
        color:#fff2e7;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
    }
    .receitas-card-container {
        background: #c7bab3;
        padding: 0rem 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;

    }


    .receitas-card {
    
        padding: 1rem;
        border-radius: 2rem;
        display: flex;
        gap: 2rem;
        flex-basis: 2rem;

    }
    .receceitas-card-cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;



    }
    .receitas-detalhes-card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    
    }

    .receita-titulo {
        color: #d2b2ab;
        font-family: ;

    }



